<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav in" id="side-menu">
			<!-- SEARCH REMOVIDO
            <sidebar-search></sidebar-search>
            -->

			<!-- GENSEQ MENUS -->
			<!-- TESTE DA RESTRICT ACCESS, A COMPARAÇÃO NÃO PRECISA SER NECESSARIAMENTE ESSA  -->
			<!-- <li restrict access="admin" ng-class="{active: collapseVar==21}">{{dropDown}} -->
			<li restrict access="1" ng-class="{active: collapseVar==21}">{{dropDown}}
				<a href="" ng-click="check(21)">
					<i class="fa fa-user fa-fw"/> Usuários<span
                        class="fa arrow">
					</span>
				</a>
				<ul class="nav nav-second-level" collapse="collapseVar!=21">
					<li ui-sref-active="active">
						<a ui-sref="dashboard.novo_usuario">
							<i class="fa fa-plus-square fa-fw"/> Novo Usuario</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dashboard.listar_usuarios">
							<i class="fa fa-edit fa-fw"/> Editar Cadastros</a>
					</li>
				</ul>
			</li>
			<li restrict access="1" ng-class="{active: collapseVar==11}">{{dropDown}}
				<a href="" ng-click="check(11)">
					<i class="fa fa-wrench fa-fw"/> Cadastro<span
                        class="fa arrow">
					</span>
				</a>
				<ul class="nav nav-second-level" collapse="collapseVar!=11">
					<li ui-sref-active="active">
						<a ui-sref="dashboard.servicos">
							<i class="fa fa-gear fa-fw"/> Serviço</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dashboard.sistemas">
							<i class="fa fa-desktop fa-fw"/> Sistema</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dashboard.kit_deplecao">
							<i class="fa fa-search fa-fw"/> Kit Depleção</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dashboard.instituicao">
							<i class="fa fa-building fa-fw"/> Instituição</a>
					</li>
				</ul>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="dashboard.projetos">
					<i class="fa fa-folder-open fa-fw"/> Projetos</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.amostras">
					<i class="fa fa-flask fa-fw"/> Amostras</a>
			</li>
			<li restrict access="1" ui-sref-active="active">
				<a ui-sref="dashboard.corridas">
					<i class="fa fa-play-circle-o  fa-fw"/> Corridas</a>
			</li>

		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
